.flagDetails_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.flagDetails_container img{
    width: 100%;

}

.flagDetails_text h3 {
    margin-top: 48px;
    margin-bottom: 24px;
}

.flagDetails_text li {
    list-style-type: none;
}

.back_btn {
    margin-top: 26px;
    margin-bottom: 60px;
    padding: 6px 30px;
    box-shadow: 0px 0px 5px lightgrey;
    color: inherit;
    font-weight: 300;
}

.borders_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.borders_container a{
    border: none;
    padding: 0 20px;
   
}